﻿<template>
  <nav class="navbar navbar-light bg-faded">
    <router-link class='navbar-brand' exact to="/">Vue.jsWebAppCore</router-link>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <router-link exact to="/">Home</router-link>
        </li>
        <li class="nav-item"">
            <router-link exact to="/devices">Devices</router-link>
        </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'menu-component',
    data() {
      return {
        menuTitle: 'A menu'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
