<template>
  <div id="app">
      <img src="./assets/logo.png">
      <menu-component></menu-component>
      <router-view></router-view>
  </div>
</template>

<script>
import MenuComponent from './components/menu.component'

export default {
  name: 'app',
  components: {
    MenuComponent
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
