<template>
  <div class="devices">
    <h1>{{ title }}</h1>
    
    <h2>Standard table</h2>
    <div class="progress" v-if="!devices.result">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    
    <table class="table" v-if="devices.result">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="device in devices.result">
          <td>{{device.name}}</td>
          <td>{{device.status}}</td>
        </tr>
      </tbody>
    </table>
    

  </div>  
</template>

<script>

  var devices = { result: null }
  
  const ApiDevice = require('../api/device').default;
  var ad = new ApiDevice();
  ad.list(function(result) {
    devices.result = result;
  });
  

  export default {
    name: 'devices',
    data() {
      return {
        title: 'Devices',
        devices: devices
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped="">
  
</style>
