<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <p>Welcome to Vue.js template built with</p>
    <ul>
      <li>
        <a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code
      </li>
      <li>
        <a href='https://vuejs.org/'>Vue.js</a> for client-side code
      </li>
      <li>
        <a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'home',
  data() {
    return {
      title: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped="">
  h1, h2 {
  font-weight: normal;
  }

  ul {
  list-style-type: none;
  padding: 0;
  }

  li {
  display: inline-block;
  margin: 0 10px;
  }

  a {
  color: #42b983;
  }
</style>
